/*---------Google Font----------- */
.syne-mono-regular {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}


body {
    background-color: black;
    text-align: center;
}

.meme-image {
    width: 800px;
    height: auto;
    border: 5px solid white;
    margin-top: 150px;
}

#meme-title {
    font-family: "Syne Mono", monospace;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 75px;
    color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 20px;
}

#meme-subtitle {
    font-family: "Syne Mono", monospace;
    font-weight: normal;
    font-size: 20px;
    color: whitesmoke;
    margin-right: 300px;
    margin-left: 300px;
}