.frame {
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.container {
    display: grid;
    grid-template-columns: 320px 198px 153px 50px;
    grid-template-rows: 414px 130px 155px 20px;
    gap: 9px;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.one {
    background-color: #E72F24;
    grid-area: 1 / 1 / 2 / 2;
}

.two {
    background-color: lightgray;
    grid-area: 1 / 2 / 2 / 5;
}

.three {
    background-color: lightgray;
    grid-area: 2 / 1 / 4 / 2;
}

.four {
    background-color: lightgray;
    grid-area: 2 / 2 / 4 / 4;
}

.five {
    background-color: #004592;
    border-bottom: 10px solid black;
    grid-area: 2 / 4 / 3 / 5;
}

.six {
    background-color: lightgray;
    grid-area: 3 / 4 / 5 / 5;
}

.seven {
    background-color: lightgray;
    grid-area: 4 / 1 / 5 / 2;
}

.height {
    background-color: #F9D01E;
    grid-area: 4 / 2 / 5 / 3;
}

.nine {
    background-color: #232629;
    grid-area: 4 / 3 / 5 / 4;
}