.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
}

.white-square {
    background-color: #DEB887;
}

.black-square {
    background-color: #D2691E;
}